<article class="post container">

  <div class="title">

    <h1>
      <a href="/api/posts/{{id}}">{{book_title}}</a>
    </h1>

    <h3>{{book_author}}</h3>

    <span>{{format_date created_at}}</span>

    <p>{{book_review}}</p>

  </div>

</article>