<article id="post-container" class="post container">

  <div class="title">

    <h1 id="post-headline">
      <a href="/api/posts/{{id}}">{{book_title}}</a>
    </h1>

    <h3 id="post-author">Author: {{book_author}}</h3>

    <span id="post-user-created">Posted by Bookworm: {{user.username}} on {{format_date created_at}}</span>

    <p id="post-review">{{book_review}}</p>

  </div>

</article>