<h2 class="col-sm-3" id="page-title">Dashboard</h2>

<!-- View all user's posts -->
<section class="container-fluid row align-items-center">
  <div class="col">
    {{!-- <h3>Your Reviews</h3> --}}
    {{#if posts.length}}
    <ol class="post-list">
      {{#each posts as |post|}}
      <li>
        {{> post-info post}}
      </li>
      {{/each}}
    </ol>
    {{else}}
    <ol>
      <li>
        No reviews to display yet.
      </li>
    </ol>
  </div>
</section>
{{/if}}

<!-- when clicked, user will be routed to the 'create new post page' -->
<div class="center-btn">
  <button class="dash-new-post-btn">
    <a href="/createNewPost">Create New Post</a>
  </button>
</div>

<!-- when clicked, user will be routed to the 'toReadList page' -->
<div class="dash-books-to-read-div">
  <a href="/dashboard/toReadList">Add books to your Must Read List</a>

  <!-- List of user's books they want to read -->
  <section class="container-fluid row align-items-center dash-books-to-read-sec">
    <div class="col">
      <h3 class="dash-books-to-read-h">Books to Read</h3>
      {{#if bookArray.length}}
      <ol id="dash-book-list">
        {{#each bookArray as |book|}}
        <li id="{{id}}" class="dash-books-list-item">
          {{book_title}} by {{book_author}} <button class="del-btn" value="{{id}}">-</button>
        </li>
        {{/each}}
      </ol>
      {{else}}
      <ol>
        <li>
          No books to display yet.
        </li>
      </ol>
    </div>
  </section>
  {{/if}}
</div>

<script src="/javascript/delete-a-book.js"></script>