<h2>Dashboard</h2>

<!-- when clicked, user will be routed to the 'create new post page' -->
<a href="/createNewPost">Create New Post</a>

<!-- View all user's posts -->
<section class = "container">
  <h2>Your Reviews</h2>
  {{#if posts.length}}
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
  {{else}}
  <ol>
    <li>
      No reviews to display yet.
    </li>
  </ol>
</section>
{{/if}}

<!-- List of user's books they want to read -->
<section class="container">
  <h2>Books to Read</h2>
  {{#if books.length}}
  <ol>
    {{#each books as |book|}}
    <li>
      {{book_title}} by {{book_author}}
    </li>
    {{/each}}
  </ol>
  {{else}}
  <ol>
    <li>
      No books to display yet.
    </li>
  </ol>
</section>
{{/if}}