<h2>Dashboard</h2>

<!-- when clicked, user will be routed to the 'create new post page' -->
<a href="/createNewPost">Create New Post</a>

<!-- View all user's posts -->
<section class="container">
  <h2>Your Reviews</h2>
  {{#if posts.length}}
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
    </li>
    {{/each}}
  </ol>
  {{else}}
  <ol>
    <li>
      No reviews to display yet.
    </li>
  </ol>
</section>
{{/if}}

<!-- when clicked, user will be routed to the 'toReadList page' -->
<a href="/dashboard/toReadList">Add books to your List of Books to Read</a>

<!-- List of user's books they want to read -->
<section class="container">
  <h2>Books to Read</h2>
  {{#if books.length}}
  <ol>
    {{#each books as |book|}}
    <li id="{{id}}">
      {{book_title}} by {{book_author}} <button class="del-btn" value="{{id}}">Del</button>
    </li>
    {{/each}}
  </ol>
  {{else}}
  <ol>
    <li>
      No books to display yet.
    </li>
  </ol>
</section>
{{/if}}

<script src="/javascript/delete-a-book.js"></script>