<section class="container-fluid new-post-container">
  <div class="row justify-content-around">

    <form class="new-post-form col-sm-6 container">

      <h2>Post Info</h2>

      {{#if existingBook}}

      <div>
        <label for="book-title">Title:</label>
        <input type="text" id="book-title" name="book-title" value="{{book.book_title}}"readonly/>
      </div>

      <div>
          <label for="book-author">Author:</label>
          <input type="text" id="book-author" name="book-author" value="{{book.book_author}}" readonly/>
      </div>

      {{else}}

      <div>
        <label for="book-title">Title:</label>
        <input type="text" id="book-title" name="book-title"/>
      </div>

      <div>
          <label for="book-author">Author:</label>
          <input type="text" id="book-author" name="book-author"/>
      </div>

      {{/if}}

      <div>
          <label for="book-review">Book Review:</label>
          <textarea cols="40" rows="5" id="book-review" name="book-review"></textarea>
      </div>
      
      <button type="submit" class="btn create-post">Create Post</button>
    
    </form>

    {{#if existingBook}}
    <div class="col-sm-6 cover-container">
      <img class="book-cover" src="{{book.cover_url}}" alt="book cover">
    </div>

    {{else}}
    <div class="col-sm-6 cover-container">
        <img class="book-cover" src="/images/book-on-grass.jpg" alt="">
    </div>
    {{/if}}

  </div>
</section>

<script src="/javascript/add-post.js"></script>
